.dropdown-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 400px;
  max-width: 700px;
  outline: none !important;
}
.adjustheight {
  height: 100px;
}
.dropdownlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.dropdown-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
  border: 2px solid white;

  outline: none !important;
  cursor: pointer;
  background-color: white;

  .icon {
    margin: 12px;
  }
  .icons {
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .button-heading {
    margin: 12px;
    overflow: auto;
  }
  .selectedOptions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;

    .multiSelectOption {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;
      margin: 2px;
      background-color: white;
      color: black;
      border: 2px solid grey;
      border-radius: 5px;
      user-select: none;
    }
  }
}
.allListDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: inherit;
  height: inherit;
}
.no-result {
  background-color: white;
  width: inherit;
  padding: 10px;
  color: rgb(63, 62, 62);
}

.searchBar-div {
  width: inherit;
}
.searchbar {
  width: 100%;
}
.options {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lists {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;

  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  box-sizing: border-box;
}
.list-button {
  all: inherit;
  outline: none;
  width: 700px;
  height: 40px;
  margin: 5px;
  user-select: none;
  font-size: 18px;
  cursor: pointer;
}
.selectAll {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  width: inherit;
  height: inherit;
  background: white;
  font-size: inherit;

  .selectAll-heading {
    margin: 5px;
  }
  .check-icon {
    margin: 5px;
  }
  .inside-selectAll {
    border: 2px solid red;
  }
}
.selected {
  background-color: #8cb3e6;
}
.list-button:hover {
  background: #d1d1d1;
}
.removeIcon :hover {
  color: #3483eb;
}
.removeOption:hover {
  color: #3483eb;
}
